$font-small:0.75rem;

input,
textarea,
a {
    border-radius: 0 !important;
}

p,
div {
    font-size: $font-small;
}

.text-underline {
    text-decoration: underline;
}

a {
    color: black;

    &:hover,
    &:active,
    &:focus {
        color: black;
    }
}


.checkbox,
.radio-button {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 0.25rem;
    width: 36px;
    height: 36px;

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 26px;
        width: 26px;
        background-color: grey;
        transition: 0.1s;
        border-radius: 0;
    }

    &:hover &__input~&__checkmark {
        opacity: 0.7;
    }

    &__checkmark::after {
        content: "";
        position: absolute;
        transition: 0.1s;
        width: 100%;
        height: 100%;
        border: 3px solid white;
        outline: 1px solid black;
        opacity: 0;
    }

    &__input:checked~&__checkmark::after {
        display: block;
        opacity: 1;
    }

    &__input:checked~&__text {
        display: none;
    }
}

.filters__sort {
    // display: none;

    .checkbox__input:checked~.checkbox__text {
        // display: none;
    }
}



* {
    font-family: Arial, Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;

    &::selection {
        color: white;
        background-color: black;
    }
}

body {
    overflow-x: hidden;
}


.header {
    position: fixed;
    top: 0;
    background: white;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid black;
    height: 45px;

    &__logo {
        font-family: 'Berkshire Swash', cursive !important;
        transition: 0.2s;
        color: black;
        padding: 0 7px;

        .img-fluid {
            padding: 0 7px;
            max-height: 15px;
            max-width: 100%;
        }
    }

    &__part {
        padding: 0 8px;
        display: flex;
        align-items: center;
        height: 45px;

        &:not(:last-child) {

            border-right: 1px solid black;
        }
    }

    &__searchbox {
        &-form {
            border: 0;
            display: block;
            cursor: auto;
            width: 100%;

        }

        &-magnify {
            padding: 0 7px;
            width: 30px;
        }
    }

    &__search-input {
        padding: 9px 0 8px;
        line-height: 16px;
        font-size: $font-small;
        text-indent: 1px;
        outline: none;
        outline-offset: 0;
        border: none;
        width: calc(100% - 1rem);

        &:focus {
            outline: none;
            outline-offset: 0;
            border: none;
        }
    }

    .dropdown-menu {
        top: 38px;
        right: -50vw;
        transition: 0.5s cubic-bezier(.51, .03, .54, 1);
        width: calc(33.333333vw - 4.8px);
        border: none;
        border-left: 1px solid black;
        border-radius: 0;
        height: calc(100vh - 45px);
        left: initial;
        display: block;
        color: black;
        margin: 0;
        padding: 0;
        border-top: 1px solid black;

        &.show {
            right: -8px;
            transition: 0.5s cubic-bezier(.51, .03, .54, 1);
        }

        li {
            border-top: 1px solid black;
            height: 45px;
            display: flex;
            align-items: center;

            &:first-of-type {
                border-top: none;
            }

            .dropdown-item {
                height: 45px;
                line-height: 45px;

                &.go-back {
                    background-image: url('../icons/chevron-right.svg');
                    border: none;
                    height: 12px;
                    width: 7px;
                    background-size: contain;
                    border: none;
                    background-repeat: no-repeat;
                    // margin-top: calc(22.5px - 7px);
                    transform: scaleX(-1);
                    padding: 0 0.75rem;
                }
            }

        }

        .dropdown-item {
            color: black;
            font-size: $font-small;
            padding: 0 1rem;
            text-transform: uppercase;

            &.dropdown-toggle {
                display: flex;
                justify-content: space-between;
            }

            &:hover,
            &:focus,
            &:active {
                color: black;
                background-color: transparent;
                border: none;
                outline: none;
                text-decoration: underline;
            }
        }


    }

    .dropdown-submenu {
        top: 38px;
        right: -50vw;
    }

    .submenu-title {
        width: 100%;
        text-align: center;
        font-size: $font-small;
        padding: 0 1rem;
        text-transform: uppercase;

    }

    .dropdown-submenu .dropdown-menu {
        top: -1px;
        left: initial;
        right: -50vw;

        &.show {
            right: 0;
        }
    }


    .dropdown-submenu>.dropdown-toggle {
        &::after {
            content: '';
            background-image: url('../icons/chevron-right.svg');
            border: none;
            height: 12px;
            width: 7px;
            background-size: contain;
            border: none;
            background-repeat: no-repeat;
            margin-top: calc(22.5px - 7px);
        }
    }

    .dropdown-toggle {
        &::after {
            content: none;
        }
    }
}

.navbar {
    padding: 0px;
    z-index: 5;
    background-color: transparent;
    font-size: $font-small;

    &-nav li a {
        transition: 0.2s;
    }

    &-nav .nav-item {
        display: flex;
        align-items: center;
    }

    &-nav .nav-link {
        color: black;
        font-size: $font-small;
        display: flex;
        align-items: center;

        &:focus,
        &:hover {
            text-decoration: revert;
        }

        &__log-in {
            letter-spacing: 1px;
        }

        &__burger {
            width: 12px;
        }

        &__collapse {
            width: calc(33.333333vw - 4.8px);
            position: absolute;
            right: 0;
            top: 45px;
            background: white;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            padding: 1rem;

        }

    }

    .log-in {
        &__label {
            margin-top: 0.5rem;
            margin-bottom: 0;
            opacity: 0.7;
        }

        &__input {
            display: block;
            border: 1px solid black;
            outline: none;
            box-shadow: none;
            display: block;
            width: 100%;
            padding: 0.5rem 0.75rem;
            // margin-bottom: 0.25rem;

            &:focus,
            &:active {
                border: 1px solid black;
                outline: none;
                box-shadow: none;
            }
        }

        &__forgot {
            color: black;
            display: block;
            margin-top: 0.25rem;
            padding: 0;

            &:focus,
            &:active {
                color: black;
            }
        }

        &__list-title {
            font-size: $font-small;
            color: black;
        }

        &__list {
            padding-left: 0.5rem;
            color: black;
            list-style-type: '- ';
        }
    }

    .basket {
        &__collapse {
            padding: 0;
        }

        &__empty {
            width: 100%;
            display: block;
            text-align: center;
        }

        &__item {
            position: relative;
        }

        &__img {
            &-container {
                width: calc(5/12 * 100%);
                max-width: 155px;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
            }

            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &__info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid black;
        }

        &__remove-item {
            width: 12px;
            position: absolute;
            top: 0.75rem;
            right: 1rem;
            padding: 0;
            margin: 0;

            img {
                width: 12px;
                object-fit: contain;
            }
        }

        &__subtotal {
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            padding: 0 1rem;
            line-height: 45px;
            height: 45px;
            border-bottom: 1px solid black;
            color: black;
        }

    }

    .form__submit {
        display: flex;
        flex-direction: column;

        border-radius: 100px;
        padding: 0 4rem;
        height: 32px;
        line-height: 32px;
        border: 1px solid black;
        color: black;
        font-size: $font-small;
        margin-top: 1rem;
        outline: none;
        overflow: hidden;
        position: relative;
        background: white;

        & span {
            display: block;
            height: 31px;
            top: 0;
            position: relative;
            transition: .3s;
            color: black;
            line-height: 32px;
        }

        &:hover span {
            top: -32px;

        }

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            border: 1px solid black;
            background: white;
        }

    }


    &-toggler {
        padding: .25rem 0;
        border: 0;

        //resetting bootstrap outline
        &:active,
        &:focus,
        &:hover {
            outline-color: transparent !important;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-appearance: none;
            -webkit-focus-ring-color: none;
            box-shadow: none;
        }
    }

    &__burger {
        width: 2.5rem;
        height: 2rem;
        position: relative;
        cursor: pointer;
        transform: scale(0.7);



        span {
            display: block;
            position: absolute;
            height: calc(25% - 0.3rem);
            width: 100%;
            background-color: whitesmoke;
            border-radius: 1px;
            opacity: 1;
            left: 0;
            top: 0;
            transition: 0.3s;

            &:nth-child(2) {
                transform-origin: center;
                transform: rotate(45deg);
                top: 33.33%;
            }

            &:nth-child(3) {
                transform-origin: center;
                transform: rotate(-45deg);
                top: 33.33%;
            }

            &:nth-child(1) {
                transform-origin: top left;
                transform: rotate(45deg);
                opacity: 0;
            }

            // &:nth-child(4) {
            //     transform-origin: bottom right;
            //     transform: rotate(-45deg);
            //     opacity: 0;
            // }


        }
    }

    // .collapsed span:nth-child(3) {
    //     width: 75%;
    // }

    .collapsed {
        span {
            display: block;
            position: absolute;
            height: calc(25% - 0.3rem);
            width: 100%;
            background-color: whitesmoke;
            border-radius: 1px;
            opacity: 1;
            left: 0;
            top: 0;
            transition: 0.3s;
            transform: none;

            &:nth-child(2) {
                top: 33.33%;
                transform: none;
            }

            &:nth-child(3) {
                top: 66.66%;
                transform: none;
            }

        }
    }
}

.main {
    margin-top: 45px;

    .container {
        background-color: white;
        color: black;
    }
}

.categories {
    display: grid;
    height: calc(100vh - 45px);


    &--firstLevel {
        grid-template-columns: repeat(3, 1fr);
    }


    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        position: relative;

        &--firstLevel {
            height: 100%;
        }

        &:nth-child(3n) {
            border-right: none;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: black;

        &:hover,
        &:focus {
            color: black;
        }
    }
}

.breadcrumb {
    background: white;
    text-transform: uppercase;
    font-size: $font-small;
    margin: 0;
    height: 45px;

    &__nav {
        background: white;
        border-bottom: 1px solid black;
    }

    &-item {
        line-height: 18.6px;
        display: flex;
        align-items: center;
    }

    &-item+&-item::before {
        content: '';
        background-image: url('../icons/chevron-right.svg');
        width: 36px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.filters {

    &__link {
        display: flex;
        align-items: center;
        font-size: $font-small;
        margin-right: 1rem;
        text-transform: uppercase;
    }

    &__collapse {
        position: absolute;
        top: 91px;
        width: calc(100% + 1px);
        right: -1px;
        // grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        z-index: 1;
        background: white;

        // &.collapsing {
        //     display: grid;
        // }

        // &.show {
        //     display: grid;
        // }
    }

    &__item {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        padding: 0.75rem;
    }

    &__title {
        font-size: $font-small;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__sort {
        &-option {
            display: block;
            padding: 0;
            width: 100%;
            height: 1.5rem;

            &.selected {
                text-decoration: underline;
            }


        }
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-right: -1px;
    margin-left: -1px;
    width: calc(100% + 2px);

    &__item {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        position: relative;

        &:hover {
            .products__img {
                display: none;

                &--second {
                    display: inline-block;
                }
            }

            .products__top-info {
                display: none;
            }

            .products__bottom-info {
                display: block;
            }
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;

        &--second {
            display: none;
        }
    }

    &__top-info,
    &__bottom-info {
        padding: 0.75rem;
    }

    &__top-info {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__bottom-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
    }

    &__name,
    &__price,
    &__size {
        font-size: $font-small;
        margin-bottom: 0;
    }

    &__size,
    &__color {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: white;
        border: 1px solid black;
        line-height: 32px;
        text-align: center;
        margin-right: 0.5rem;
        margin-top: 0.75rem;
    }
}

.item-page {
    .row {
        margin: 0;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    &__buttons {
        text-align: center;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid black;
    }

    &__btn {
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: center;

        &--price {
            font-weight: bold;
            border-right: 1px solid black;
        }

        &--ship {
            border-left: 1px solid black;
        }

        &--add {
            background-color: greenyellow;
            font-size: $font-small;
            padding: 0;
            border-bottom: 1px solid black;

        }
    }

    &__title {
        font-size: $font-small;
        font-weight: bold;
        text-transform: uppercase;

        &-container {
            position: relative;
            padding: 1.5rem 1rem 0.5rem 1rem;
            border-bottom: 1px solid black;
        }
    }

    &__add-wish {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }

    &__version {
        padding: 1rem;
        border-bottom: 1px solid black;

        &-title {
            font-size: $font-small;
            font-weight: 400;
            display: inline-block;
        }
    }

    &__details {
        padding: 1rem;

        &-title {
            font-size: $font-small;
            font-weight: 400;
            text-transform: uppercase;
        }
    }


}

.legalArea {
    position: relative;
    border-bottom: 1px solid black;

    &__nav-toggle {
        position: absolute;
        height: 16px;
        width: 12px;
        transform: rotateZ(90deg) translateY(-50%);
        transform-origin: top;
        left: 1.5rem;
        top: 50%;
        padding: 0;
        border: none;
        margin: 0;
        outline: none;
        box-shadow: none;
        background: transparent;
        background-image: url('../icons/chevron-right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.btn:not(:disabled):not(.disabled).active,
        &.btn:not(:disabled):not(.disabled):active {
            background: transparent;
            background-image: url('../icons/chevron-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
            background: transparent;
            background-image: url('../icons/chevron-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__main-heading {
        text-transform: uppercase;
        text-align: center;
        font-size: $font-small;
        line-height: 45px;

        &__container {
            position: relative;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid black;
        }
    }

    &__print {
        position: absolute;
        right: 1.25rem;
        height: 48px;
        font-size: $font-small;
        line-height: 48px;
        top: 50%;
        transform: translateY(-50%);
        color: black;

        &:hover,
        &:focus {
            color: black;
        }
    }

    &__nav {
        padding: 0;
    }

    &__link {
        line-height: 44px;
        height: 44px;
        width: 100%;
        display: flex;
        padding: 0 1.25rem;
        align-items: center;
        color: black;
        font-size: $font-small;
        border-bottom: 1px solid black;

        &:hover,
        &:focus {
            color: black;
        }
    }

    &__content {
        padding: 1.25rem;
        font-size: $font-small;
        letter-spacing: 0.5px;
        line-height: 16px;
        -webkit-font-smoothing: antialiased;
        border-left: 1px solid black;
        margin-left: -1px;
    }
}

.clientService {
    padding-top: 45px;

    &__heading {
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-size: $font-small;
        font-weight: 400;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    &__description,
    &__contact {
        max-width: calc(735px + 2rem);
        padding: 0.75rem 1rem;
        border-left: 1px solid black;
        border-right: 1px solid black;
        font-size: $font-small;
    }
}

.faq {

    &__heading,
    &__subheading {
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-size: $font-small;
        font-weight: 400;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    &__subheading {
        border: none;
    }

    &__container {
        max-width: calc(735px + 2rem);
        padding: 0;
        border-left: 1px solid black;
        border-right: 1px solid black;
        font-size: $font-small;
    }

    .nav-link {
        text-decoration: underline;

        &.active {
            text-decoration: none;
            background-color: transparent;
            color: black;
        }
    }

    &__category-heading {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .card,
    .card-header {
        background: white;
        border-radius: 0;
    }

    .card {
        border-bottom: 1px solid black;
    }

    .card-header {
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        font-size: $font-small;

        .btn {
            padding: 0;
            color: black;
            font-weight: 400;
            font-size: $font-small;
            text-transform: uppercase;
            width: 100%;
            text-align: left;
            height: 2.5rem;

            &.collapsed~svg {
                .vertical-rect {
                    display: block;
                }
            }
        }

        svg {
            display: flex;
            align-self: center;

            .vertical-rect {
                display: none;
            }
        }
    }

    .card-header,
    .card-body {
        padding: 0 0.5rem;
    }

    .card-body {
        padding-bottom: 1rem;
    }
}

.footer {
    width: 100%;
    background-color: #aaa;
    transition-property: transform, opacity;
    transition: .25s ease-in-out;
    padding-top: 45px;
    font-size: $font-small;

    &__container {
        padding: 0;
        min-height: 277px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        border-right: 1px solid #000;

        &:last-child {
            border-right: none;
        }
    }

    &__inner {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }

    &__heading {
        text-transform: uppercase;
        font-size: $font-small;
        padding: 37px 16px 0
    }

    &__list {
        padding: 16px;
        display: block;
        list-style-type: none;
    }

    &__list-item {
        margin-bottom: 11px;
    }

    &__link {
        color: black;

        &:hover,
        &:focus {
            color: black;
        }
    }

    &__newsletter-form {
        border: 1px solid black;
        display: block;
        margin-bottom: 11px;
        position: relative;
    }

    &__newsletter-input {
        height: 2rem;
        line-height: 2rem;
        background: transparent;
        color: black;
        border: none;
        outline: none;
        padding-left: 8px;
        padding-right: 2rem;
        width: 100%;

        &:focus {
            background: white;
        }
    }

    &__newsletter-submit {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: transparent;
        outline: none;
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;

        &:focus,
        &:hover,
        &:active {
            background: transparent;
            outline: none;
            border: none;
            cursor: pointer;
        }

        svg {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            right: 50%;
        }
    }

    &__newsletter-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__newsletter-link {
        text-decoration: underline;
        display: block;
    }

    &__copyright {
        width: 100%;
        height: 45px;
        padding: 0 16px;
        min-height: initial;
        line-height: 45px;
        border-right: none;
    }
}

.modal {

    &-newsletter-policy a {
        text-decoration: underline;
        color: black;
    }

    &-backdrop {
        background: white;

        &.show {
            opacity: 0.6;
        }
    }

    &-content {
        border: none;
        border-radius: 0;
        border: 1px solid black;
        height: 600px;
        max-height: calc(100vh - 90px);
    }

    &-header,
    &-title {
        font-size: $font-small;
        letter-spacing: 0.5px;
        line-height: 45px;
        text-align: center;
        width: 100%;
        border: none;
        padding: 0 1rem;
        border-radius: 0;
    }

    &-header {
        border-bottom: 1px solid black;
    }

    &-close {
        line-height: 45px;
        opacity: 1;

        &:focus,
        &:active,
        &:hover {
            opacity: 1;
            outline: none;
            border: none;
        }
    }

    &-body {
        font-size: $font-small;
        line-height: 1rem;
        padding: 1rem;
        letter-spacing: 0.5px;
        -webkit-font-smoothing: antialiased;
    }

    &-language-link {
        display: block;
        line-height: 48px;
        border-bottom: 1px solid black;
        padding: 0 1rem;
        color: black;

        &:hover {
            color: black;
        }
    }

    &-copyright .close {
        text-align: right;
        margin-right: 1rem;
    }

    &-centered {
        // margin-top: -48px;
        margin-bottom: 48px;
        display: flex;
        align-items: center;
    }

    &-shipping {

        &__cell {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: 48px;
            padding: 0 1rem;
            display: flex;
            align-items: center;

            &:last-child {
                border-right: none;
            }
        }
    }

    &-text {
        font-size: $font-small;
        color: black;
    }

    &-link {
        font-weight: bold;
        color: black;
        text-decoration: none;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
        }
    }
}


// @media (max-width:1440px) {

//     .navbar-nav .nav-link__collapse,
//     .header .dropdown-menu.show {
//         width: calc(33.333333vw - -1px)
//     }
// }

@media (max-width:992px) {

    .header {
        height: 90px;

        &__part:not(:last-child) {
            border-right: none;
        }

        &__searchbox {
            border-top: 1px solid black;
            padding: 0 15px;

            &-form {
                display: flex;
                justify-content: space-between;
            }
        }

        &__search-submit {
            background-image: url('../icons/header-magnifyingglass.svg');
            background-size: contain;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-self: center;
        }

        &__controls {
            margin-top: -90px;
        }

        .navbar-nav .nav-link__log-in {
            margin-top: 2px;
        }

        .navbar-nav {
            flex-direction: row;

            .nav-item {
                margin-left: 0.5rem;
            }
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
        }

        .dropdown-menu {
            right: -110vw;
            width: 100vw;
            top: 84px;
            border-left: none;

            &.show {
                right: -8px;
            }
        }

        .dropdown-menu li:first-of-type {
            border-top: none;
            margin-top: 0;
        }

        .dropdown-submenu {
            right: -110vw;
            border-left: none;
        }

        .dropdown-submenu .dropdown-menu {
            right: -110vw;
            border-left: none;
        }



    }



    .navbar {

        border-bottom: none;

        &-collapse {
            position: absolute;
            top: 60px;
            width: 100%;
            left: 0;
            z-index: 1;
            padding: 1rem;
            background-color: black;
        }

        &-toggler {
            position: absolute;
            top: 10px;
            right: 4px;
            padding: 0;
        }

        &__burger-img {
            width: 22px;
        }

        &-nav .nav-link {
            &__collapse {
                width: 100vw;
                border-left: 0;
                top: 90px;
            }
        }
    }

    .navbar-nav .nav-link__collapse,
    .header .dropdown-menu.show {
        width: 100vw;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand .img-fluid {
        max-height: 40px;
    }

    .main {
        margin-top: 90px;
    }

    .categories {

        height: calc(100vh - 90px);

        &--firstLevel {
            grid-template-columns: none;
        }

        &__container {
            &--firstLevel {
                height: auto;
                border-right: none;
            }
        }
    }



    .filters {
        &__collapse {
            position: absolute;
            top: 136px;
            width: 100vw;
            left: 0;
            background: white;
            z-index: 1;
        }
    }


    .products {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

        &__item {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            position: relative;
        }

        &__top-info,
        &__bottom-info {
            display: block;
        }

        &__size,
        &__color {
            width: 24px;
            height: 24px;
            font-size: 0.5rem;
            line-height: 24px;
            margin-right: 0.25rem;
            margin-top: 0.5rem;
        }
    }

    .legalArea {
        &__content {

            border-left: none;
            margin-left: initial;
        }
    }

    .footer {
        &__newsletter-text {
            overflow: initial;
            display: initial;
            -webkit-line-clamp: initial;
            -webkit-box-orient: initial;
        }

        &__newsletter-link {
            display: none;
        }
    }
}


@media (min-width:992.1px) {
    .legalArea {
        &__nav-collapse {
            display: block;
        }

        &__nav-toggle {
            display: none;
        }
    }
}


@keyframes arrow {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    .legalArea__main-heading,
    article,
    article * {
        visibility: visible;
    }

    article {
        position: absolute;
        left: 0;
        top: 0;
    }
}