input,
textarea,
a {
  border-radius: 0 !important;
}

p,
div {
  font-size: 0.75rem;
}

.text-underline {
  text-decoration: underline;
}

a {
  color: black;
}

a:hover, a:active, a:focus {
  color: black;
}

.checkbox,
.radio-button {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 0.25rem;
  width: 36px;
  height: 36px;
}

.checkbox__input,
.radio-button__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__checkmark,
.radio-button__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: grey;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 0;
}

.checkbox:hover .checkbox__input ~ .checkbox__checkmark,
.radio-button:hover .checkbox__input ~ .checkbox__checkmark, .checkbox:hover
.radio-button__input ~ .checkbox__checkmark,
.radio-button:hover
.radio-button__input ~ .checkbox__checkmark, .checkbox:hover .checkbox__input ~
.radio-button__checkmark,
.radio-button:hover .checkbox__input ~
.radio-button__checkmark, .checkbox:hover
.radio-button__input ~
.radio-button__checkmark,
.radio-button:hover
.radio-button__input ~
.radio-button__checkmark {
  opacity: 0.7;
}

.checkbox__checkmark::after,
.radio-button__checkmark::after {
  content: "";
  position: absolute;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  outline: 1px solid black;
  opacity: 0;
}

.checkbox__input:checked ~ .checkbox__checkmark::after,
.radio-button__input:checked ~ .checkbox__checkmark::after, .checkbox__input:checked ~
.radio-button__checkmark::after,
.radio-button__input:checked ~
.radio-button__checkmark::after {
  display: block;
  opacity: 1;
}

.checkbox__input:checked ~ .checkbox__text,
.radio-button__input:checked ~ .checkbox__text, .checkbox__input:checked ~
.radio-button__text,
.radio-button__input:checked ~
.radio-button__text {
  display: none;
}

* {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

*::-moz-selection {
  color: white;
  background-color: black;
}

*::selection {
  color: white;
  background-color: black;
}

body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  height: 45px;
}

.header__logo {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
  padding: 0 7px;
}

.header__logo .img-fluid {
  padding: 0 7px;
  max-height: 15px;
  max-width: 100%;
}

.header__part {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.header__part:not(:last-child) {
  border-right: 1px solid black;
}

.header__searchbox-form {
  border: 0;
  display: block;
  cursor: auto;
  width: 100%;
}

.header__searchbox-magnify {
  padding: 0 7px;
  width: 30px;
}

.header__search-input {
  padding: 9px 0 8px;
  line-height: 16px;
  font-size: 0.75rem;
  text-indent: 1px;
  outline: none;
  outline-offset: 0;
  border: none;
  width: calc(100% - 1rem);
}

.header__search-input:focus {
  outline: none;
  outline-offset: 0;
  border: none;
}

.header .dropdown-menu {
  top: 38px;
  right: -50vw;
  -webkit-transition: 0.5s cubic-bezier(0.51, 0.03, 0.54, 1);
  transition: 0.5s cubic-bezier(0.51, 0.03, 0.54, 1);
  width: calc(33.333333vw - 4.8px);
  border: none;
  border-left: 1px solid black;
  border-radius: 0;
  height: calc(100vh - 45px);
  left: initial;
  display: block;
  color: black;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
}

.header .dropdown-menu.show {
  right: -8px;
  -webkit-transition: 0.5s cubic-bezier(0.51, 0.03, 0.54, 1);
  transition: 0.5s cubic-bezier(0.51, 0.03, 0.54, 1);
}

.header .dropdown-menu li {
  border-top: 1px solid black;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .dropdown-menu li:first-of-type {
  border-top: none;
}

.header .dropdown-menu li .dropdown-item {
  height: 45px;
  line-height: 45px;
}

.header .dropdown-menu li .dropdown-item.go-back {
  background-image: url("../icons/chevron-right.svg");
  border: none;
  height: 12px;
  width: 7px;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  padding: 0 0.75rem;
}

.header .dropdown-menu .dropdown-item {
  color: black;
  font-size: 0.75rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.header .dropdown-menu .dropdown-item.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .dropdown-menu .dropdown-item:hover, .header .dropdown-menu .dropdown-item:focus, .header .dropdown-menu .dropdown-item:active {
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
}

.header .dropdown-submenu {
  top: 38px;
  right: -50vw;
}

.header .submenu-title {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.header .dropdown-submenu .dropdown-menu {
  top: -1px;
  left: initial;
  right: -50vw;
}

.header .dropdown-submenu .dropdown-menu.show {
  right: 0;
}

.header .dropdown-submenu > .dropdown-toggle::after {
  content: '';
  background-image: url("../icons/chevron-right.svg");
  border: none;
  height: 12px;
  width: 7px;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
  margin-top: calc(22.5px - 7px);
}

.header .dropdown-toggle::after {
  content: none;
}

.navbar {
  padding: 0px;
  z-index: 5;
  background-color: transparent;
  font-size: 0.75rem;
}

.navbar-nav li a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

.navbar-nav .nav-link__log-in {
  letter-spacing: 1px;
}

.navbar-nav .nav-link__burger {
  width: 12px;
}

.navbar-nav .nav-link__collapse {
  width: calc(33.333333vw - 4.8px);
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.navbar .log-in__label {
  margin-top: 0.5rem;
  margin-bottom: 0;
  opacity: 0.7;
}

.navbar .log-in__input {
  display: block;
  border: 1px solid black;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.navbar .log-in__input:focus, .navbar .log-in__input:active {
  border: 1px solid black;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .log-in__forgot {
  color: black;
  display: block;
  margin-top: 0.25rem;
  padding: 0;
}

.navbar .log-in__forgot:focus, .navbar .log-in__forgot:active {
  color: black;
}

.navbar .log-in__list-title {
  font-size: 0.75rem;
  color: black;
}

.navbar .log-in__list {
  padding-left: 0.5rem;
  color: black;
  list-style-type: '- ';
}

.navbar .basket__collapse {
  padding: 0;
}

.navbar .basket__empty {
  width: 100%;
  display: block;
  text-align: center;
}

.navbar .basket__item {
  position: relative;
}

.navbar .basket__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.navbar .basket__img-container {
  width: calc(5/12 * 100%);
  max-width: 155px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar .basket__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
}

.navbar .basket__remove-item {
  width: 12px;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  padding: 0;
  margin: 0;
}

.navbar .basket__remove-item img {
  width: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .basket__subtotal {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  line-height: 45px;
  height: 45px;
  border-bottom: 1px solid black;
  color: black;
}

.navbar .form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100px;
  padding: 0 4rem;
  height: 32px;
  line-height: 32px;
  border: 1px solid black;
  color: black;
  font-size: 0.75rem;
  margin-top: 1rem;
  outline: none;
  overflow: hidden;
  position: relative;
  background: white;
}

.navbar .form__submit span {
  display: block;
  height: 31px;
  top: 0;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  color: black;
  line-height: 32px;
}

.navbar .form__submit:hover span {
  top: -32px;
}

.navbar .form__submit:hover, .navbar .form__submit:active, .navbar .form__submit:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid black;
  background: white;
}

.navbar-toggler {
  padding: .25rem 0;
  border: 0;
}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:hover {
  outline-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-focus-ring-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar__burger {
  width: 2.5rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.navbar__burger span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__burger span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 33.33%;
}

.navbar__burger span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 33.33%;
}

.navbar__burger span:nth-child(1) {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.navbar .collapsed span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(2) {
  top: 33.33%;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(3) {
  top: 66.66%;
  -webkit-transform: none;
          transform: none;
}

.main {
  margin-top: 45px;
}

.main .container {
  background-color: white;
  color: black;
}

.categories {
  display: -ms-grid;
  display: grid;
  height: calc(100vh - 45px);
}

.categories--firstLevel {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.categories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  overflow: hidden;
}

.categories__container--firstLevel {
  height: 100%;
}

.categories__container:nth-child(3n) {
  border-right: none;
}

.categories__container:hover .categories__img-bg {
  height: 120%;
}

.categories__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 1rem;
  background: white;
  z-index: 1;
}

.categories__title::before {
  content: '';
  background: white;
}

.categories__title:hover, .categories__title:focus {
  color: black;
}

.categories__img-bg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: absolute;
}

.breadcrumb {
  background: white;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
  height: 45px;
}

.breadcrumb__nav {
  background: white;
  border-bottom: 1px solid black;
}

.breadcrumb-item {
  line-height: 18.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '';
  background-image: url("../icons/chevron-right.svg");
  width: 36px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.filters__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.filters__collapse {
  position: absolute;
  top: 91px;
  width: calc(100% + 1px);
  right: -1px;
  z-index: 1;
  background: white;
}

.filters__item {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.75rem;
}

.filters__title {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
}

.filters__sort-option {
  display: block;
  padding: 0;
  width: 100%;
  height: 1.5rem;
}

.filters__sort-option.selected {
  text-decoration: underline;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-right: -1px;
  margin-left: -1px;
  width: calc(100% + 2px);
}

.products__item {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

.products__item:hover .products__img {
  display: none;
}

.products__item:hover .products__img--second {
  display: inline-block;
}

.products__item:hover .products__top-info {
  display: none;
}

.products__item:hover .products__bottom-info {
  display: block;
}

.products__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.products__img--second {
  display: none;
}

.products__top-info, .products__bottom-info {
  padding: 0.75rem;
}

.products__top-info {
  position: absolute;
  top: 0;
  left: 0;
}

.products__bottom-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.products__name, .products__price, .products__size {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.products__size, .products__color {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 1px solid black;
  line-height: 32px;
  text-align: center;
  margin-right: 0.5rem;
  margin-top: 0.75rem;
}

.item-page .row {
  margin: 0;
}

.item-page__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.item-page .owl-dots {
  text-align: center;
}

.item-page .owl-carousel .owl-nav button.owl-next,
.item-page .owl-carousel .owl-nav button.owl-prev,
.item-page .owl-carousel button.owl-dot {
  width: 1.5rem;
  height: 0.35rem;
  display: inline-block;
  background: grey;
  position: static;
  margin: 1rem 0.25rem;
}

.item-page .owl-carousel .owl-nav button.owl-next.active,
.item-page .owl-carousel .owl-nav button.owl-prev.active,
.item-page .owl-carousel button.owl-dot.active {
  background: black;
}

.item-page .owl-carousel .owl-nav button.owl-next:focus, .item-page .owl-carousel .owl-nav button.owl-next:active, .item-page .owl-carousel .owl-nav button.owl-next:hover,
.item-page .owl-carousel .owl-nav button.owl-prev:focus,
.item-page .owl-carousel .owl-nav button.owl-prev:active,
.item-page .owl-carousel .owl-nav button.owl-prev:hover,
.item-page .owl-carousel button.owl-dot:focus,
.item-page .owl-carousel button.owl-dot:active,
.item-page .owl-carousel button.owl-dot:hover {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.item-page__buttons {
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid black;
}

.item-page__btn {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.item-page__btn--price {
  font-weight: bold;
  border-right: 1px solid black;
}

.item-page__btn--ship {
  border-left: 1px solid black;
}

.item-page__btn--add {
  background-color: greenyellow;
  font-size: 0.75rem;
  padding: 0;
  border-bottom: 1px solid black;
}

.item-page__title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.item-page__title-container {
  position: relative;
  padding: 1.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid black;
}

.item-page__add-wish {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.item-page__version {
  padding: 1rem;
  border-bottom: 1px solid black;
}

.item-page__version-title {
  font-size: 0.75rem;
  font-weight: 400;
  display: inline-block;
}

.item-page__version-options .radio-button__checkmark {
  border-radius: 50%;
}

.item-page__version-options .radio-button__input:checked ~ .radio-button__checkmark::after {
  border-radius: 50%;
  outline: none;
  -webkit-box-shadow: 0 0 1px 1px;
          box-shadow: 0 0 1px 1px;
}

.item-page__details {
  padding: 1rem;
}

.item-page__details-title {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.more-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-right: -1px;
  margin-left: -1px;
  width: calc(100% + 2px);
}

.more-items__heading-container {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  height: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.more-items__heading {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero__img {
  max-height: calc(100vh - 90px);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.legalArea {
  position: relative;
  border-bottom: 1px solid black;
}

.legalArea__nav-toggle {
  position: absolute;
  height: 16px;
  width: 12px;
  -webkit-transform: rotateZ(90deg) translateY(-50%);
          transform: rotateZ(90deg) translateY(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
  left: 1.5rem;
  top: 50%;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  background-image: url("../icons/chevron-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.legalArea__nav-toggle.btn:not(:disabled):not(.disabled).active, .legalArea__nav-toggle.btn:not(:disabled):not(.disabled):active {
  background: transparent;
  background-image: url("../icons/chevron-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.legalArea__nav-toggle:hover, .legalArea__nav-toggle:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  background-image: url("../icons/chevron-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.legalArea__main-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.75rem;
  line-height: 45px;
}

.legalArea__main-heading__container {
  position: relative;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid black;
}

.legalArea__print {
  position: absolute;
  right: 1.25rem;
  height: 48px;
  font-size: 0.75rem;
  line-height: 48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: black;
}

.legalArea__print:hover, .legalArea__print:focus {
  color: black;
}

.legalArea__nav {
  padding: 0;
}

.legalArea__link {
  line-height: 44px;
  height: 44px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 0.75rem;
  border-bottom: 1px solid black;
}

.legalArea__link:hover, .legalArea__link:focus {
  color: black;
}

.legalArea__content {
  padding: 1.25rem;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  border-left: 1px solid black;
  margin-left: -1px;
}

.clientService {
  padding-top: 45px;
}

.clientService__heading {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 0;
}

.clientService__description, .clientService__contact {
  max-width: calc(735px + 2rem);
  padding: 0.75rem 1rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 0.75rem;
}

.faq__heading, .faq__subheading {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 0;
}

.faq__subheading {
  border: none;
}

.faq__container {
  max-width: calc(735px + 2rem);
  padding: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 0.75rem;
}

.faq .nav-link {
  text-decoration: underline;
}

.faq .nav-link.active {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

.faq__category-heading {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.faq .card,
.faq .card-header {
  background: white;
  border-radius: 0;
}

.faq .card {
  border-bottom: 1px solid black;
}

.faq .card-header {
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
}

.faq .card-header .btn {
  padding: 0;
  color: black;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  height: 2.5rem;
}

.faq .card-header .btn.collapsed ~ svg .vertical-rect {
  display: block;
}

.faq .card-header svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.faq .card-header svg .vertical-rect {
  display: none;
}

.faq .card-header,
.faq .card-body {
  padding: 0 0.5rem;
}

.faq .card-body {
  padding-bottom: 1rem;
}

.footer {
  width: 100%;
  background-color: #aaa;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  padding-top: 45px;
  font-size: 0.75rem;
}

.footer__container {
  padding: 0;
  min-height: 277px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  border-right: 1px solid #000;
}

.footer__container:last-child {
  border-right: none;
}

.footer__inner {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.footer__heading {
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 37px 16px 0;
}

.footer__list {
  padding: 16px;
  display: block;
  list-style-type: none;
}

.footer__list-item {
  margin-bottom: 11px;
}

.footer__link {
  color: black;
}

.footer__link:hover, .footer__link:focus {
  color: black;
}

.footer__newsletter-form {
  border: 1px solid black;
  display: block;
  margin-bottom: 11px;
  position: relative;
}

.footer__newsletter-input {
  height: 2rem;
  line-height: 2rem;
  background: transparent;
  color: black;
  border: none;
  outline: none;
  padding-left: 8px;
  padding-right: 2rem;
  width: 100%;
}

.footer__newsletter-input:focus {
  background: white;
}

.footer__newsletter-submit {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background: transparent;
  outline: none;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.footer__newsletter-submit:focus, .footer__newsletter-submit:hover, .footer__newsletter-submit:active {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.footer__newsletter-submit svg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  right: 50%;
}

.footer__newsletter-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.footer__newsletter-link {
  text-decoration: underline;
  display: block;
}

.footer__copyright {
  width: 100%;
  height: 45px;
  padding: 0 16px;
  min-height: initial;
  line-height: 45px;
  border-right: none;
}

.modal-newsletter-policy a {
  text-decoration: underline;
  color: black;
}

.modal-backdrop {
  background: white;
}

.modal-backdrop.show {
  opacity: 0.6;
}

.modal-content {
  border: none;
  border-radius: 0;
  border: 1px solid black;
  height: 600px;
  max-height: calc(100vh - 90px);
}

.modal-header, .modal-title {
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  border: none;
  padding: 0 1rem;
  border-radius: 0;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-close {
  line-height: 45px;
  opacity: 1;
}

.modal-close:focus, .modal-close:active, .modal-close:hover {
  opacity: 1;
  outline: none;
  border: none;
}

.modal-body {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 1rem;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}

.modal-language-link {
  display: block;
  line-height: 48px;
  border-bottom: 1px solid black;
  padding: 0 1rem;
  color: black;
}

.modal-language-link:hover {
  color: black;
}

.modal-copyright .close {
  text-align: right;
  margin-right: 1rem;
}

.modal-centered {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-shipping__cell {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 48px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-shipping__cell:last-child {
  border-right: none;
}

.modal-text {
  font-size: 0.75rem;
  color: black;
}

.modal-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.modal-link:hover, .modal-link:focus {
  color: black;
  text-decoration: none;
}

@media (max-width: 992px) {
  .header {
    height: 90px;
  }
  .header__part:not(:last-child) {
    border-right: none;
  }
  .header__searchbox {
    border-top: 1px solid black;
    padding: 0 15px;
  }
  .header__searchbox-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__search-submit {
    background-image: url("../icons/header-magnifyingglass.svg");
    background-size: contain;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .header__controls {
    margin-top: -90px;
  }
  .header .navbar-nav .nav-link__log-in {
    margin-top: 2px;
  }
  .header .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .navbar-nav .nav-item {
    margin-left: 0.5rem;
  }
  .header .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .header .dropdown-menu {
    right: -110vw;
    width: 100vw;
    top: 84px;
    border-left: none;
  }
  .header .dropdown-menu.show {
    right: -8px;
  }
  .header .dropdown-menu li:first-of-type {
    border-top: none;
    margin-top: 0;
  }
  .header .dropdown-submenu {
    right: -110vw;
    border-left: none;
  }
  .header .dropdown-submenu .dropdown-menu {
    right: -110vw;
    border-left: none;
  }
  .navbar {
    border-bottom: none;
  }
  .navbar-collapse {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 1rem;
    background-color: black;
  }
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 4px;
    padding: 0;
  }
  .navbar__burger-img {
    width: 22px;
  }
  .navbar-nav .nav-link__collapse {
    width: 100vw;
    border-left: 0;
    top: 90px;
  }
  .navbar-nav .nav-link__collapse,
  .header .dropdown-menu.show {
    width: 100vw;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand .img-fluid {
    max-height: 40px;
  }
  .main {
    margin-top: 90px;
  }
  .categories {
    height: calc(100vh - 90px);
  }
  .categories--firstLevel {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .categories__container--firstLevel {
    height: auto;
    border-right: none;
  }
  .filters__collapse {
    position: absolute;
    top: 136px;
    width: 100vw;
    left: 0;
    background: white;
    z-index: 1;
  }
  .products {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .products__item {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
  }
  .products__top-info, .products__bottom-info {
    display: block;
  }
  .products__size, .products__color {
    width: 24px;
    height: 24px;
    font-size: 0.5rem;
    line-height: 24px;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
  }
  .item-page__btn--price, .item-page__btn--add {
    border-top: 1px solid black;
  }
  .legalArea__content {
    border-left: none;
    margin-left: initial;
  }
  .footer__newsletter-text {
    overflow: initial;
    display: initial;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
  }
  .footer__newsletter-link {
    display: none;
  }
}

@media (min-width: 992.1px) {
  .legalArea__nav-collapse {
    display: block;
  }
  .legalArea__nav-toggle {
    display: none;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .legalArea__main-heading,
  article,
  article * {
    visibility: visible;
  }
  article {
    position: absolute;
    left: 0;
    top: 0;
  }
}
/*# sourceMappingURL=main.css.map */